<div class="container">
	<h1>Contacto</h1>

	<div id="texto" #textos>
		<p appResaltado>
			Esta es la pagina de contacto, nos puede enviar cualquier duda
		</p>
	</div>

	<!--
	<label>Tamaño del slider </label> 
	<input type="number" [(ngModel)]="withSlider" ><br>
	<button (click)="cargarSlider()">Cargar Slider</button><br>
	<button (click)="resetearSlider()">Resetear Stlider</button>

	<div *ngIf="anchuraToSlider">		
		<slider 
			[anchura]="anchuraToSlider"
			[etiquetas]="captions"
			(conseguirAutor)="getAutor($event)"
		></slider>
	</div>	

	<div *ngIf="autor">
		{{"A " + autor.nombre + " le gusta " + autor.website + " y tambien " + autor.youtube}}
	</div>

	-->
	
</div>