<div id="title">
	<h1>{{title}}</h1>
	<h2>{{subtitle}}</h2>
	<p>{{web}}</p>
</div>

<article class="about">  
	<h2>Sobre mi</h2>
	<p>
		Duis tincidunt augue et tincidunt fringilla. Pellentesque non risus metus. Integer dignissim, leo quis accumsan efficitur, dui enim fermentum nisl, eu pretium nulla turpis eu felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam nec erat nunc. Aliquam aliquam odio nec ante ultricies accumsan. Praesent vel est laoreet, bibendum quam vel, elementum metus. Integer feugiat velit sed fermentum porttitor. Vivamus rutrum in libero id sollicitudin. Praesent luctus dictum augue. Phasellus pretium molestie erat a mattis. Nullam lorem tortor, pulvinar eu ornare et, molestie et metus. Duis ut justo nisl. Sed eleifend vulputate viverra. Proin imperdiet tincidunt dui, quis condimentum lectus efficitur et.
	</p>
</article>